[submodule "revolunixpkgs"]
	path = revolunixpkgs
	url = git@github.com:RevoluNix/revolunixpkgs.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:RevoluNix/dotfiles.git
[submodule "pkgs/pkg-template"]
	path = pkgs/pkg-template
	url = git@github.com:RevoluNix/pkg-template.git
[submodule "pkgs/pkg-focus-rofi"]
	path = pkgs/pkg-focus-rofi
	url = git@github.com:RevoluNix/pkg-focus-rofi.git
