[submodule "revolunixpkgs"]
	path = revolunixpkgs
	url = git@github.com:RevoluNix/revolunixpkgs.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:RevoluNix/dotfiles.git
[submodule "pkgs/pkg-template"]
	path = pkgs/pkg-template
	url = git@github.com:RevoluNix/pkg-template.git
[submodule "pkgs/pkg-focus-rofi"]
	path = pkgs/pkg-focus-rofi
	url = git@github.com:RevoluNix/pkg-focus-rofi.git
[submodule "pkgs/pkg-citra"]
	path = pkgs/pkg-citra
	url = git@github.com:RevoluNix/pkg-citra.git
[submodule "pkgs/backup-cli"]
	path = pkgs/backup-cli
	url = git@github.com:RevoluNix/backup-cli.git
[submodule "pkgs/pkg-font-fixer"]
	path = pkgs/pkg-font-fixer
	url = git@github.com:RevoluNix/pkg-font-fixer.git
[submodule "pkgs/pkg-global-fullscreen"]
	path = pkgs/pkg-global-fullscreen
	url = git@github.com:RevoluNix/pkg-global-fullscreen.git
[submodule "pkgs/pkg-backup-cli"]
	path = pkgs/pkg-backup-cli
	url = git@github.com:RevoluNix/pkg-backup-cli.git
[submodule "pkgs/pkg-ide"]
	path = pkgs/pkg-ide
	url = git@github.com:RevoluNix/pkg-ide.git
[submodule "pkgs/pkg-rofi-beats"]
	path = pkgs/pkg-rofi-beats
	url = git@github.com:RevoluNix/pkg-rofi-beats.git
